.row-header {
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #dee7ff;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron-weight-0{
    height: auto;
    margin:0px auto !important;
    background: #0c0e6d !important;
    color:floralwhite;
}

.jumbotron-error{
    height: auto;
    padding-top: 10px !important;
    padding-bottom: 6px !important;
    background: #be0000 !important;
    color:floralwhite;
}

.jumbotron-weight-1{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin:0px auto;
    background: #1d2f7a !important;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #0b1151;
}

